---
layout: null
sitemap: false
---

$baseurl: "{{ site.baseurl }}";

$nav-header-height: 60px;
$nav-width: 300px;
$content-max-width: 800px;

$space: 20px;
$iosGapTop: env(safe-area-inset-top);

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "_themes";
@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";
