//size setting
$nav-header-height: 60px;
$nav-width: 300px;
$nav-btn-size: 24px;
$space: 20px;
$header-vertical-gap: ($nav-header-height - $nav-btn-size) / 2;
$header-horizontal-gap: $space;
$content-max-width: 800px;
$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

body {
	@include display-flex();
	@include flex-direction(column);
	overflow-x: hidden;
	height: auto;
	max-height: 100%;
	margin: 0;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--text-primary);
	background-color: var(--background-primary);
	
	&.nav-open {
		overflow: hidden;

		nav,
		header > form {
			display: block;
		}

		header {
			bottom: 0;
			.open-nav {
				filter: opacity(0.5);
			}
		}
	}

	//min-width: 700px
	@media (min-width: $mobile-break) {
		// padding: 0 0 0 $nav-width;
		@include flex-direction(row);

		&.nav-open {
			overflow: auto;
		}
	}
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--background-primary);
	z-index: 1;

	ul {
		padding: 0;
		margin: 0;
	}

	h1 {
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		position: sticky;
		top: 0;
		padding: $header-vertical-gap $header-horizontal-gap;
		height: $nav-header-height;
		margin: 0;
		line-height: 0.8;
		font-size: 1.7rem;
		font-weight: 600;
		letter-spacing: 0;
		color: var(--text-primary);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);
		background-color: var(--background-secondary);

		> a {
			height: $nav-btn-size;
			width: $nav-btn-size;
			margin-right: 0.6rem;
			padding: 0.3rem;
			filter: opacity(0.8);
		}
	}

	$nav-image: $baseurl + "/images/menu.svg";
	
	.open-nav {
		width: $nav-btn-size;
		height: $nav-btn-size;
		margin-left: auto;
		background: transparent url($nav-image) no-repeat center center / 100%;

		// &:focus,
		// &:hover {
		// 	filter: opacity(0.5);
		// }

		header {
			height: 100%;
		}
	}

	@media (min-width: $mobile-break) {
		flex: 1 0 23rem;
		position: initial;
		height: auto;
		box-shadow: inset -10px 0 10px -10px rgba($color-black, 0.3);

		.open-nav {
			display: none;
		}
	}
	@media (min-width: 1000px) {
		flex: 1 0 $nav-width;
	}
}

nav,
header > form {
	display: none;

	@media (min-width: $mobile-break) {
		display: block;
	}
}

nav > ul {
	padding: $space / 2 0;

	& + ul {
		border-top: 1px solid rgba(0, 0, 0, 0.075);
	}
}

.nav-item {
	display: block;
	line-height: 1;
	margin: 0;

	nav:not(.full-navigation) & > ul {
		display: none;
	}

	nav:not(.full-navigation) &.current > ul {
		display: block;
	}

	> a {
		color: var(--text-tertiary);
		text-decoration: none;
		font-size: 1.4rem;
		padding: $space / 2 0 $space / 2 $space * 2;
		display: block;
	}

	&.current > a,
	> a:active,
	> a:hover {
		color: var(--text-primary);
	}

	&.top-level > a {
		line-height: 1.5;
		font-weight: 600;
		padding-left: $space;
	}
}

.main {
	overflow-y: auto;
	padding-top: $space + 60px;
	
	@media (min-width: $mobile-break) {
		flex: 0 1 auto;
		width: 100%;
		padding-top: 0;
	}
}

.page-header,
.content {
	max-width: $content-max-width;
	padding: 0 ($space + 5) $space;
	margin: $space auto 0 auto;
}

.page-header {
	h2,
	h3 {
		margin: 0;
		line-height: 1.2;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 2rem;
		margin-left: -1px;
		color: #888;
		letter-spacing: 0;
	}

	h3 {
		font-size: 2.4rem;
		margin: 15px 0 0 -4px;
	}

	@media (min-width: $mobile-break) {
		h2 {
			font-size: 1.8rem;
		}

		h3 {
			font-size: 3.2rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}

.content {
	position: relative;
	color: var(--text-secondary);

	h3::before {
		content: "";
		@extend hr;
	}
	> * + *:not(h2):not(h3) {
		margin: 2rem 0 0 0;
	}
}

.settings-panel-example {
	@extend p;
	@include display-flex();
	@include flex-direction(column);

	.example {
		overflow: hidden;
		max-width: 300px;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		border-radius: 2px;
		background-color: #fafafa;
	}

	@media (min-width: 960px) {
		@include flex-direction(row);

		.details {
			@include flex(1);
			margin-right: 20px;
		}

		p + .highlight > pre {
			margin-bottom: 0;
		}

		.example {
			@include flex(0 0 300px);
			max-width: 100%;
		}
	}
}

h4 code {
	background: var(--background-primary);
	color: var(--text-primary);
	background-color: transparent;
	font-weight: 700;
	padding: 0;
	font-size: 1.1em;
	line-height: 1;
}

h4 svg {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
	fill: var(--background-primary);
	height: 23px;
}

.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: var(--text-primary-blue);
	padding-left: 5px;
}

//search
#search-input {
	display: block;
	margin: 0;
	padding: 1rem 2rem;
	width: 100%;
	border: 0;
	border-bottom: 1px solid var(--border-secondary);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.8;
	background: transparent;

	&:focus {
		outline: none;
	}
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}

.changelog {
	&,
	> div {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.date {
		color: var(--text-secondary);
		font-style: italic;
	}
}

.badge {
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2px;
	background: var(--background-primary);
	font-weight: bold;

	&.major {
		background: var(--text-primary-blue);
		color: var(--text-primary);
	}
}

blockquote {
	padding: 10px 15px;
	margin: 0;
	border-left: 5px solid var(--border-secondary);
	background-color: var(--background-tertiary);

	p:first-child {
		margin-top: 0;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

.editor-link {
	display: none;
	margin-top: 0;

	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

//right nav
.toc {
	display: none;
	margin: 0 1rem;
	min-width: 15.5rem;

	@media (min-width: 1000px){
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}

	&-heading {
		font-size: 1.6rem;
		margin: 0 0 2.5rem;
		padding: 0 0 0 1rem;
	}

	ul {
	  margin-bottom: 0.1rem;
	  padding-left: 0rem;
	  
	  li {
		margin: 0;
		padding-left: .5rem;
	
		a {
			display: block;
			padding: 0.5rem 1rem;
			line-height: 1.4rem;
			font-size: 1.2rem;
			text-decoration: none;
			color: var(--text-secondary);
			border-left: 2px solid var(--border-secondary);
		
			&:hover,
			&[aria-current]:not([aria-current=""]):not([aria-current="false"]),
			&.toc-active {
				color: var(--text-primary);
				border-left-color: var(--category-color);
				background-color: var(--background-toc-active);
			}
		}
	
	  }
	}

	.top-button{
		margin-top: 30px;
		text-align: center;

		.btn-top {
			display:inline-block;
			padding: 5px 10px;
			text-align: center;
			border-radius: 6px;
			color: var(--text-primary);
			border-color: var(--border-primary);
			background: var(--background-secondary);
			font-size: 1.2rem;
			transition: all .5s ease-out;
			
			&:hover {
				width: 100%;
			}
		}
	}
}

//table
table {
	border-top: 1px solid var(--border-secondary);
	
	tr {
		border-bottom: 1px solid var(--border-secondary);
		
		&:nth-child(even) {
			background: var(--background-secondary);
		}
	}
	
	
	th, td {
		padding: 0.8rem;
		text-align: left;
		word-break: break-all;
	}
	
	&._type__01 {
		.img_hyunsoo {
			padding: 0.8rem 1.5rem 0.8rem 0;
			img {
				max-width: 180px;
			}
		}
		td p {
			display: flex;
			align-items: flex-start;
			img {
				height: 1.5rem;
				margin: 0.2rem 0.6rem 0 0;
			}
			span, a {
				line-height: 1.8rem;
			}
		}
		td p + p {
			margin-top: 0.4rem;
		}
	}
	
	& + table {
		margin-top: 2rem;
	}
}


