//size setting
$nav-header-height: 60px;
$nav-width: 300px;
$nav-btn-size: 24px;
$space: 20px;
$header-vertical-gap: ($nav-header-height - $nav-btn-size) / 2;
$header-horizontal-gap: $space;
$content-max-width: 800px;
$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

body {
	@include display-flex();
	@include flex-direction(column);
	overflow-x: hidden;
	height: auto;
	max-height: 100%;
	margin: 0;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--text-primary);
	background-color: var(--background-primary);
	
	&.nav-open {
		overflow: hidden;

		nav,
		header > form {
			display: block;
		}

		header {
			bottom: 0;
			.open-nav {
				filter: opacity(0.5);
			}
		}
	}

	//min-width: 700px
	@media (min-width: $mobile-break) {
		@include flex-direction(row);

		&.nav-open {
			overflow: auto;
		}
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--background-primary);
	z-index: 1;

	h1 {
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		position: sticky;
		top: 0;
		padding: $header-vertical-gap $header-horizontal-gap;
		height: $nav-header-height;
		line-height: 2.4rem;
		font-size: 1.7rem;
		font-weight: 600;
		letter-spacing: 0;
		color: var(--text-primary);
		border-bottom: 1px solid rgba(0, 0, 0, 0.075);
		background-color: var(--background-secondary);

		> a {
			height: $nav-btn-size;
			width: $nav-btn-size;
			margin-right: 0.6rem;
			img {
				height: 100%;
			}
		}
	}

	.open-nav {
		width: $nav-btn-size;
		height: $nav-btn-size;
		margin-left: auto;
		background: transparent url($baseurl + "/images/menu.svg") no-repeat center center / 100%;

		header {
			height: 100%;
		}
	}

	form,
	nav {
		display: none;
	
		@media (min-width: $mobile-break) {
			display: block;
		}
	}
	
	nav {
		padding: $space / 2 0;
	
		.nav-item {
			display: block;
			line-height: 1;
			margin: 0;
			
			> a {
				color: var(--text-tertiary);
				text-decoration: none;
				font-size: 1.4rem;
				padding: $space / 2 0 $space / 2 $space * 2;
				display: block;
			}
			&.current > a,
			> a:active,
			> a:hover {
				color: var(--text-primary);
			}
			&.top-level > a {
				line-height: 1.5;
				font-weight: 600;
				padding-left: $space;
			}
			
			nav:not(.full-navigation) & > ul {
				display: none;
			}
			nav:not(.full-navigation) &.current > ul {
				display: block;
			}
		}
	}

	@media (min-width: $mobile-break) {
		flex: 1 0 23rem;
		position: initial;
		height: auto;
		box-shadow: inset -10px 0 10px -10px rgba($color-black, 0.3);

		.open-nav {
			display: none;
		}
	}
	@media (min-width: 1000px) {
		flex: 1 0 $nav-width;
		max-width: $nav-width;
	}
}

//search
.search-wrap {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border-secondary);

	#search-input {
		display: block;
		margin: 0;
		padding: 1rem 1rem 1rem 2rem;
		width: 100%;
		border: 0;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8;
		background: transparent;
	
		&:focus {
			outline: none;
		}
	}
	.btn-del {
		flex: 1 0 auto;
		position: relative;
		display: inline-block;
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		border-radius: 50%;
	    border: 1px solid var(--border-primary);
		background: transparent;

		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 24%;
			width: 1rem;
			height: 0.1rem;
			background: var(--border-primary);
			transform: rotate(45deg);
		}
		&:after {
			left: 24%;
			transform: rotate(-45deg);
		}

		&.hide {
			display: none;
		}

		span {
			display: none;
			font-size: 0;
		}
	}
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}

.main {
	overflow-y: auto;
	width: 100%;
	max-width: $content-max-width;
	margin: $nav-header-height auto 0;
	padding: 2rem 2.5rem 2.5rem;
	
	@media (min-width: $mobile-break) {
		flex: 0 1 auto;
		width: 100%;
		margin-top: 0;
		padding-top: 5rem;
	}
	@media (min-width: $full-width-break) {
		padding-top: 5rem;
	}
	.page-header {
		h2,
		h3 {
			margin: 0;
			line-height: 1.2;
			letter-spacing: -1px;
		}
	
		h2 {
			font-size: 2rem;
			margin-left: -1px;
			color: #888;
			letter-spacing: 0;
		}
	
		h3 {
			font-size: 2.4rem;
			margin: 15px 0 0 -4px;
		}
	
		@media (min-width: $mobile-break) {
			h2 {
				font-size: 1.8rem;
			}
	
			h3 {
				font-size: 3.2rem;
			}
		}
	}
	
	.content {
		position: relative;
		margin-top: 2rem;
		color: var(--text-secondary);
	
		h3::before {
			content: "";
			@extend hr;
		}
		> * + *:not(h2):not(h3) {
			margin: 2rem 0 0 0;
		}
	}
}

.settings-panel-example {
	@extend p;
	@include display-flex();
	@include flex-direction(column);

	.example {
		overflow: hidden;
		max-width: 300px;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		border-radius: 2px;
		background-color: #fafafa;
	}

	@media (min-width: 960px) {
		@include flex-direction(row);

		.details {
			@include flex(1);
			margin-right: 20px;
		}

		p + .highlight > pre {
			margin-bottom: 0;
		}

		.example {
			@include flex(0 0 300px);
			max-width: 100%;
		}
	}
}

h4 code {
	background: var(--background-primary);
	color: var(--text-primary);
	background-color: transparent;
	font-weight: 700;
	padding: 0;
	font-size: 1.1em;
	line-height: 1;
}

h4 svg {
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -2px;
	fill: var(--background-primary);
	height: 23px;
}

.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: var(--text-primary-blue);
	padding-left: 5px;
}

.changelog {
	&,
	> div {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.date {
		color: var(--text-secondary);
		font-style: italic;
	}
}

.badge {
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2px;
	background: var(--background-primary);
	font-weight: bold;

	&.major {
		background: var(--text-primary-blue);
		color: var(--text-primary);
	}
}

blockquote {
	padding: 10px 15px;
	margin: 0;
	border-left: 5px solid var(--border-secondary);
	background-color: var(--background-tertiary);

	p:first-child {
		margin-top: 0;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

.editor-link {
	display: none;
	margin-top: 0;

	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

//right nav
.toc {
	display: none;
	max-width: 15rem;
	margin: 0 1rem;
	
	@media (min-width: 1000px){
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 0 15rem;
	}

	&-heading {
		margin: 0 0 2.5rem;
		padding: 0 0 0 1rem;
		font-size: 1.6rem;
	}

	ul {
	  li {
		a {
			display: block;
			padding: 0.8rem 1rem;
			line-height: 1.6rem;
			font-size: 1.2rem;
			text-decoration: none;
			color: var(--text-secondary);
			border-left: 2px solid var(--border-secondary);
		
			&:hover,
			&[aria-current]:not([aria-current=""]):not([aria-current="false"]),
			&.toc-active {
				color: var(--text-primary);
				border-left-color: var(--category-color);
				background-color: var(--background-toc-active);
			}
		}
	
	  }
	}

	.top-button{
		margin-top: 30px;
		text-align: center;

		.btn-top {
			display:inline-block;
			padding: 5px 10px;
			text-align: center;
			border-radius: 6px;
			color: var(--text-primary);
			border-color: var(--border-primary);
			background: var(--background-secondary);
			font-size: 1.2rem;
			transition: all .5s ease-out;
			
			&:hover {
				width: 100%;
			}
		}
	}
}

//table
table {
	border-top: 1px solid var(--border-secondary);
	
	tr {
		border-bottom: 1px solid var(--border-secondary);
		
		&:nth-child(even) {
			background: var(--background-secondary);
		}
		th, td {
			padding: 0.8rem;
			text-align: left;
			word-break: break-word;
		}
	}
	
	
	& + table {
		margin-top: 2rem;
	}
}

.flex-box_wrap {
	display: flex;
	
	.img_char {
		flex: 0 1 auto;
		display: inline-flex;
		padding: 0 1rem;
		border: solid var(--border-secondary);
		border-width: 1px 0;
		line-height: 0;
		span {
			display: inline-block;
			max-width: 180px;
			margin: auto;
			padding:0 1rem 0 0;
		}
	}

	._type__01 {
		width: 100%;
		border-top: 1px solid var(--border-secondary);
		
		li {
			display: flex;
			border-bottom: 1px solid var(--border-secondary);
			
			&:nth-child(even) {
				background: var(--background-secondary);
			}
			strong {
				display: inline-block;
				width: 40%;
				padding: 0.8rem;
				word-break: break-word;
			}
			.list_text {
				flex: 0 1 100%;
				padding: 0.8rem;
			}
		}
	}
	
	@media (max-width: $mobile-break) {
		flex-direction: column;
		
		.img_char {
			border: 0;
			span {
				max-width: 150px;
			}
		}
		._type__01 li {
			flex-direction: column;
			padding: 0.8rem 0;
			
			strong {
				width: 100%;
				padding-bottom: 0;
				font-size: 1.5rem;
			}
		}
	}
}

.list_text {

	p {
		display: flex;
		align-items: flex-start;
		
		i {
			display: flex;
			align-items: center;
			height: 1.8rem;
			margin: 0.1rem 0.6rem 0 0;

			img {
				height: 1.5rem;
			}
		}
		span, a {
			line-height: 1.8rem;
		}
		& + p {
			margin-top: 0.4rem;
		}
	}
}

.box-ghchart {
	text-align: center;
	
	p {
		margin: 5rem 0 3rem;
		line-height: 1.2;
		font-weight: 700;
		font-size: 1.8rem;
		color: var(--text-primary);
	}
}

