table {
	width: 100%;
}

table + table {
	margin-top: 1.75em;
}

tr {
	border-bottom: 1px solid var(--border-secondary);
}

tr:nth-child(even) {
	background: var(--background-secondary);
}

td, th {
	padding: 8px;
	text-align: left;
}
