table {
	border-top: 1px solid var(--border-secondary);
}

table + table {
	margin-top: 1.75em;
}

tr {
	border-bottom: 1px solid var(--border-secondary);
}

tr:nth-child(even) {
	background: var(--background-secondary);
}

th, td {
	padding: 0.8rem;
	text-align: left;
	word-break: break-all;
}