//@use "sass:color";
@use "vars.scss" as *;
//@use "../color-palette" as *;

@mixin light-theme {
  --text-primary: #{$theme-light-text-primary};
  --text-secondary: #{$theme-light-text-secondary};
  --text-inactive: #{$theme-light-text-inactive};
  --text-link: #{$theme-light-text-link};
  --text-invert: #{$theme-light-text-invert};

  --background-primary: #{$theme-light-background-primary};
  --background-secondary: #{$theme-light-background-secondary};
  --background-tertiary: #{$theme-light-background-tertiary};
  --background-toc-active: #{$theme-light-background-toc-active};
  --background-mark-yellow: #{color.adjust(
      $color-light-theme-yellow-30,
      $alpha: -0.6
    )};
  --background-mark-green: #{color.adjust(
      $color-light-theme-green-30,
      $alpha: -0.6
    )};
  --background-information: #{color.adjust(
      $theme-light-icon-information,
      $alpha: -0.9
    )};
  --background-warning: #{color.adjust(
      $theme-light-icon-warning,
      $alpha: -0.9
    )};
  --background-critical: #{color.adjust(
      $theme-light-icon-critical,
      $alpha: -0.9
    )};
  --background-success: #{color.adjust(
      $theme-light-icon-success,
      $alpha: -0.9
    )};

  --border-primary: #{$theme-light-border-primary};
  --border-secondary: #{$theme-light-border-secondary};

  --button-primary-default: #{$theme-light-button-primary-default};
  --button-primary-hover: #{$theme-light-button-primary-hover};
  --button-primary-active: #{$theme-light-button-primary-active};
  --button-primary-inactive: #{$theme-light-button-primary-inactive};

  --button-secondary-default: #{$theme-light-button-secondary-default};
  --button-secondary-hover: #{$theme-light-button-secondary-hover};
  --button-secondary-active: #{$theme-light-button-secondary-active};
  --button-secondary-inactive: #{$theme-light-button-secondary-inactive};
  --button-secondary-border-focus: #{$theme-light-button-secondary-border-focus};
  --button-secondary-border-red: #{$theme-light-button-secondary-border-red};
  --button-secondary-border-red-focus: #{$theme-light-button-secondary-border-red-focus};

  --icon-primary: #{$theme-light-icon-primary};
  --icon-secondary: #{$theme-light-icon-secondary};
  --icon-information: #{$theme-light-icon-information};
  --icon-warning: #{$theme-light-icon-warning};
  --icon-critical: #{$theme-light-icon-critical};
  --icon-success: #{$theme-light-icon-success};

  --accent-primary: #{$theme-light-accent-primary};
  --accent-primary-engage: #{color.adjust(
      $theme-light-accent-primary,
      $alpha: -0.9
    )};

  --accent-secondary: #{$theme-light-accent-secondary};
  --accent-tertiary: #{color.adjust(
      $color-light-theme-blue-50,
      $alpha: -0.9
    )};

  --shadow-01: #{$theme-light-shadow-01};
  --shadow-02: #{$theme-light-shadow-02};
  --focus-01: #{$theme-light-focus-01};
  --field-focus-border: #{$theme-light-field-focus-border};

  --code-token-tag: #{$theme-light-code-token-tag};
  --code-token-punctuation: #{$theme-light-code-token-punctuation};
  --code-token-attribute-name: #{$theme-light-code-token-attribute-name};
  --code-token-attribute-value: #{$theme-light-code-token-attribute-value};
  --code-token-comment: #{$theme-light-code-token-comment};
  --code-token-default: #{$theme-light-code-token-default};
  --code-token-selector: #{$theme-light-code-token-selector};
  --code-background-inline: #{$theme-light-code-background-inline};
  --code-background-block: #{$theme-light-code-background-block};

  --notecard-link-color: #{$color-neutral-80};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);

  --category-color: #{$color-light-theme-blue-50};
  --category-color-background: #{$color-light-theme-blue-50}10;
  --code-color: #{$color-light-theme-blue-40};
  --mark-color: #{$color-light-theme-blue-10};

  --plus-accent-color: #{$color-dark-theme-red-60};
  --html-accent-color: #{$color-light-theme-red-60};
  --css-accent-color: #{$color-light-theme-blue-60};
  --js-accent-color: #{$color-light-theme-yellow-40};
  --http-accent-color: #{$color-light-theme-green-60};
  --apis-accent-color: #{$color-light-theme-violet-60};
  --learn-accent-color: #{$color-light-theme-pink-60};

  --plus-code-color: #{$color-light-theme-blue-60};
  --html-code-color: #{$color-light-theme-red-70};
  --css-code-color: #{$color-light-theme-blue-60};
  --js-code-color: #{$color-light-theme-yellow-60};
  --http-code-color: #{$color-light-theme-green-60};
  --apis-code-color: #{$color-light-theme-violet-60};
  --learn-code-color: #{$color-light-theme-pink-60};

  --plus-mark-color: #{$color-light-theme-red-10};
  --html-mark-color: #{$color-light-theme-red-10};
  --css-mark-color: #{$color-light-theme-blue-10};
  --js-mark-color: #{$color-light-theme-yellow-10};
  --http-mark-color: #{$color-light-theme-green-10};
  --apis-mark-color: #{$color-light-theme-violet-10};
  --learn-mark-color: #{$color-light-theme-pink-10};

  --plus-accent-background-color: #{$color-light-theme-red-50}30;
  --html-accent-background-color: #{$color-light-theme-red-50}30;
  --css-accent-background-color: #{$color-light-theme-blue-50}30;
  --js-accent-background-color: #{$color-light-theme-yellow-50}30;
  --http-accent-background-color: #{$color-light-theme-green-50}30;
  --apis-accent-background-color: #{$color-light-theme-violet-50}30;
  --learn-accent-background-color: #{$color-light-theme-pink-50}30;

  --plus-accent-engage: #{color.adjust(
      $color-light-theme-red-50,
      $alpha: -0.3
    )};
  --html-accent-engage: #{color.adjust(
      $color-light-theme-red-50,
      $alpha: -0.3
    )};
  --css-accent-engage: #{color.adjust(
      $color-light-theme-blue-50,
      $alpha: -0.3
    )};
  --js-accent-engage: #{color.adjust(
      $color-light-theme-yellow-50,
      $alpha: -0.3
    )};
  --http-accent-engage: #{color.adjust(
      $color-light-theme-green-50,
      $alpha: -0.3
    )};
  --apis-accent-engage: #{color.adjust(
      $color-light-theme-violet-50,
      $alpha: -0.3
    )};
  --learn-accent-engage: #{color.adjust(
      $color-light-theme-pink-50,
      $alpha: -0.3
    )};

  --modal-backdrop-color: #{rgba($theme-dark-background-primary, 0.1)};
  --blend-color: #{$color-white}80;

  --text-primary-red: #{$color-light-theme-red-60};
  --text-primary-green: #{$color-light-theme-green-60};
  --text-primary-blue: #{$color-light-theme-blue-60};
  --text-primary-yellow: #{$color-light-theme-yellow-60};

  --collections-link: #{$color-light-theme-red-70};
  --collections-header: #{$color-light-theme-red-10};
  --collections-mandala: #{$color-light-theme-red-30};
  --collections-icon: #{$color-light-theme-red-50};

  --updates-link: #{$color-light-theme-blue-60};
  --updates-header: #{$color-neutral-light-70};
  --updates-mandala: #{$color-light-theme-blue-30};
  --updates-icon: #{$color-light-theme-blue-50};

  --form-limit-color: #{$color-neutral-60};
  --form-limit-color-emphasis: #{$color-neutral-70};
  --form-invalid-color: #{$color-light-theme-red-60};
  --form-invalid-focus-color: #{$color-light-theme-red-50};
  --form-invalid-focus-effect-color: #{rgba($color-light-theme-red-50, 0.2)};

  color-scheme: light;
}

@mixin dark-theme {
  --text-primary: #{$theme-dark-text-primary};
  --text-secondary: #{$theme-dark-text-secondary};
  --text-inactive: #{$theme-dark-text-inactive};
  --text-link: #{$theme-dark-text-link};
  --text-invert: #{$theme-dark-text-invert};

  --background-primary: #{$theme-dark-background-primary};
  --background-secondary: #{$theme-dark-background-secondary};
  --background-tertiary: #{$theme-dark-background-tertiary};
  --background-toc-active: #{$theme-dark-background-toc-active};
  --background-mark-yellow: #{color.adjust(
      $color-dark-theme-yellow-30,
      $alpha: -0.6
    )};
  --background-mark-green: #{color.adjust(
      $color-light-theme-green-30,
      $alpha: -0.6
    )};
  --background-information: #{color.adjust(
      $theme-light-icon-information,
      $alpha: -0.9
    )};
  --background-warning: #{color.adjust(
      $theme-light-icon-warning,
      $alpha: -0.9
    )};
  --background-critical: #{color.adjust(
      $theme-light-icon-critical,
      $alpha: -0.9
    )};
  --background-success: #{color.adjust(
      $theme-light-icon-success,
      $alpha: -0.9
    )};

  --border-primary: #{$theme-dark-border-primary};
  --border-secondary: #{$theme-dark-border-secondary};

  --button-primary-default: #{$theme-dark-button-primary-default};
  --button-primary-hover: #{$theme-dark-button-primary-hover};
  --button-primary-active: #{$theme-dark-button-primary-active};
  --button-primary-inactive: #{$theme-dark-button-primary-inactive};

  --button-secondary-default: #{$theme-dark-button-secondary-default};
  --button-secondary-hover: #{$theme-dark-button-secondary-hover};
  --button-secondary-active: #{$theme-dark-button-secondary-active};
  --button-secondary-inactive: #{$theme-dark-button-secondary-inactive};
  --button-secondary-border-focus: #{$theme-light-button-secondary-border-focus};
  --button-secondary-border-red: #{$theme-light-button-secondary-border-red};
  --button-secondary-border-red-focus: #{$theme-light-button-secondary-border-red-focus};

  --icon-primary: #{$theme-dark-icon-primary};
  --icon-secondary: #{$theme-dark-icon-secondary};
  --icon-information: #{$theme-dark-icon-information};
  --icon-warning: #{$theme-dark-icon-warning};
  --icon-critical: #{$theme-dark-icon-critical};
  --icon-success: #{$theme-dark-icon-success};

  --accent-primary: #{$theme-dark-accent-primary};
  --accent-primary-engage: #{color.adjust(
      $theme-dark-accent-primary,
      $alpha: -0.9
    )};
  --accent-secondary: #{$theme-dark-accent-secondary};
  --accent-tertiary: #{color.adjust(
      $color-light-theme-blue-50,
      $alpha: -0.9
    )};

  --shadow-01: #{$theme-dark-shadow-01};
  --shadow-02: #{$theme-dark-shadow-02};
  --focus-01: #{$theme-dark-focus-01};
  --field-focus-border: #{$theme-dark-field-focus-border};

  --code-token-tag: #{$theme-dark-code-token-tag};
  --code-token-punctuation: #{$theme-dark-code-token-punctuation};
  --code-token-attribute-name: #{$theme-dark-code-token-attribute-name};
  --code-token-attribute-value: #{$theme-dark-code-token-attribute-value};
  --code-token-comment: #{$theme-dark-code-token-comment};
  --code-token-default: #{$theme-dark-code-token-default};
  --code-token-selector: #{$theme-dark-code-token-selector};
  --code-background-inline: #{$theme-dark-code-background-inline};
  --code-background-block: #{$theme-dark-code-background-block};

  --notecard-link-color: #{$color-neutral-10};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(255, 255, 255, 0.25);

  --category-color: #{$color-dark-theme-blue-30};
  --category-color-background: #{$color-dark-theme-blue-30}70;
  --code-color: #{$color-dark-theme-blue-20};
  --mark-color: #{$color-dark-theme-blue-70};

  --plus-accent-color: #{$color-dark-theme-red-30};
  --html-accent-color: #{$color-dark-theme-red-40};
  --css-accent-color: #{$color-dark-theme-blue-30};
  --js-accent-color: #{$color-dark-theme-yellow-40};
  --http-accent-color: #{$color-dark-theme-green-40};
  --apis-accent-color: #{$color-dark-theme-violet-40};
  --learn-accent-color: #{$color-dark-theme-pink-40};

  --plus-code-color: #{$color-dark-theme-blue-20};
  --html-code-color: #{$color-neutral-light-70};
  --css-code-color: #{$color-dark-theme-blue-20};
  --js-code-color: #{$color-dark-theme-yellow-30};
  --http-code-color: #{$color-dark-theme-green-30};
  --apis-code-color: #{$color-dark-theme-violet-30};
  --learn-code-color: #{$color-dark-theme-pink-30};

  --plus-mark-color: #{$color-dark-theme-red-70};
  --html-mark-color: #{$color-dark-theme-red-70};
  --css-mark-color: #{$color-dark-theme-blue-70};
  --js-mark-color: #{$color-dark-theme-yellow-70};
  --http-mark-color: #{$color-dark-theme-green-70};
  --apis-mark-color: #{$color-dark-theme-violet-70};
  --learn-mark-color: #{$color-dark-theme-pink-70};

  --plus-accent-background-color: #{$color-light-theme-red-50}30;
  --html-accent-background-color: #{$color-light-theme-red-50}30;
  --css-accent-background-color: #{$color-light-theme-blue-50}30;
  --js-accent-background-color: #{$color-light-theme-yellow-50}30;
  --http-accent-background-color: #{$color-light-theme-green-50}30;
  --apis-accent-background-color: #{$color-light-theme-violet-50}30;
  --learn-accent-background-color: #{$color-light-theme-pink-50}30;

  --plus-accent-engage: #{color.adjust(
      $color-dark-theme-red-40,
      $alpha: -0.3
    )};
  --html-accent-engage: #{color.adjust(
      $color-dark-theme-red-40,
      $alpha: -0.3
    )};
  --css-accent-engage: #{color.adjust(
      $color-dark-theme-blue-30,
      $alpha: -0.3
    )};
  --js-accent-engage: #{color.adjust(
      $color-dark-theme-yellow-40,
      $alpha: -0.3
    )};
  --http-accent-engage: #{color.adjust(
      $color-dark-theme-green-40,
      $alpha: -0.3
    )};
  --apis-accent-engage: #{color.adjust(
      $color-dark-theme-violet-40,
      $alpha: -0.3
    )};
  --learn-accent-engage: #{color.adjust(
      $color-dark-theme-pink-40,
      $alpha: -0.3
    )};

  --modal-backdrop-color: #{rgba($theme-dark-background-primary, 0.7)};
  --blend-color: #{$color-black}80;

  --text-primary-red: #{$color-dark-theme-red-30};
  --text-primary-green: #{$color-dark-theme-green-30};
  --text-primary-blue: #{$color-dark-theme-blue-30};
  --text-primary-yellow: #{$color-dark-theme-yellow-30};

  --collections-link: #{$color-dark-theme-red-30};
  --collections-header: #{$color-dark-theme-red-90};
  --collections-mandala: #{$color-dark-theme-red-70};
  --collections-icon: #{$color-dark-theme-red-60};

  --updates-link: #{$color-dark-theme-blue-30};
  --updates-header: #{$color-black};
  --updates-mandala: #{$color-dark-theme-blue-20};
  --updates-icon: #{$color-dark-theme-blue-30};

  --form-limit-color: #{$color-neutral-40};
  --form-limit-color-emphasis: #{$color-neutral-30};
  --form-invalid-color: #{$color-light-theme-red-30};
  --form-invalid-focus-color: #{$color-light-theme-red-40};
  --form-invalid-focus-effect-color: #{rgba($color-light-theme-red-40, 0.2)};

  color-scheme: dark;
}

body,
:root {
  --mdn-color-white: #{$color-white};
  --mdn-color-black: #{$color-black};
  --mdn-color-ads: #{$color-ads};
  --mdn-color-background-highlight: #{$color-light-theme-yellow-10};
  --mdn-color-dark-grey: #{$color-neutral-70};
  --mdn-background-dark: #{$theme-dark-background-primary};
  --mdn-background-light: #{$theme-light-background-primary};
  --mdn-background-light-grey: #{$color-neutral-10};
  --color-announcement-banner-accent: #{$color-light-theme-pink-40};
}

.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

// OS Default.
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}
